@font-face {
  font-family: 'Hanson-Bold';
  src: local('Hanson-Bold'), url('/public/fonts/Hanson-Bold.ttf') format('truetype')
}
@font-face {
  font-family: 'CarterOne-Regular';
  src: local('CarterOne-Regular'), url('/public/fonts/CarterOne-Regular.ttf') format('truetype')
}

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
